// **** WRAPPERS STYLES *** //

.wrapper {
  margin:0 200px 0 0;
  margin-top: 5px;
  @include transition(margin $effect-speed);
}

.content-wrapper {
   height: calc(100vh - 60px);
  margin-left: 120px;
  width:1200px;
  overflow-y:scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.navbar-wrapper {
  width:300px;
}

.navbar-wrapper,
.content-wrapper {
  display:inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.float-right,
.float-right li
{
  float:right;
}
.float-left{
  float:left;
}

.hidden {
  display:none;
}

.cursor-pointer {
  cursor:pointer;
}