// **** WRAPPERS STYLES *** //

.wrapper {
  margin:0 $margin-lr-wrapper;
  margin-top: $top-distance-on-header-off;
  @include transition(margin $effect-speed);


}

.header:not(.header-active) + .wrapper {
  margin-top: 4vh;
  .content-wrapper {
    height:$content-wrapper-height-on-header-off;
  }
}
.content-wrapper {
   height:$content-wrapper-height;
}


.content-wrapper {
  width:$content-wrapper-width;
  overflow-y:scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.navbar-wrapper {
  width:$navbar-wrapper-width;
  font-size: $font-size-medium;
}

.navbar-wrapper,
.content-wrapper {
  display:inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.float-right,
.float-right li
{
  float:right;
}
.float-left{
  float:left;
}

.hidden {
  display:none;
}

.cursor-pointer {
  cursor:pointer;
}