// **** WRAPPERS STYLES *** //

.wrapper {
  margin:0 $margin-lr-wrapper;

}

.content-wrapper {
  width:81%;
}

.navbar-wrapper {
  width:18%;
  font-size: .75em;
}

.navbar-wrapper,
.content-wrapper {
  display:inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.float-right,
.float-right li
{
  float:right;
}
.float-left{
  float:left;
}

.hidden {
  display:none;
}

.cursor-pointer {
  cursor:pointer;
}