// **** HEADER STYLES *** //

.header {
  padding-bottom: 10px;
  background-color: #fff;
  z-index:999;
  height:8vh;
  position:fixed;
  width:100%;
  top:-55px;
  .header-content {
    height:6vh;
    box-shadow: 0 12px 2px -2px $primary-color;
  }
  .active-header-item {
    color: $primary-color;
  }
  .head-div {
    display:inline-block;
    width:50%;
    li {
      display:inline-block;
      padding:8px 20px;
      cursor: pointer;
    }
  }
  @include transition(transform 1.5s);
  z-index:2000;
  @include transform(translateY(0));
  &.active-header {
    @include transform(translateY(55px));
  }
  &:hover,
  &.header-active{
    @include transform(translateY(55px));
  }
}