// **** HEADER STYLES *** //

.header {
  padding-bottom: 0px;
  background-color: #fff;
  font-size: $font-size-all;
  z-index:2000;
  height:80px;
  position:fixed;
  width:100%;
  top:-70px;
  .header-content {
    border-bottom: 1px solid #000;
    padding:15px 50px 30px;
    height:75px;
    box-shadow: 0 0 1.5rem $primary-color;
  }
  .active-header-item {
    color: $primary-color;
  }
  .head-div {
    display:inline-block;
    width:50%;
    li {
      display:inline-block;
      padding:0 20px 0 0;
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
    }

  }
  @include transition(transform $effect-speed);

  @include transform(translateY(0));
  &.header-active {
    @include transform(translateY(70px));
  }
  &:hover,
  &.header-active{
    @include transform(translateY(70px));
  }
}