.info-btn {
  font-size: 34px;
  font-family: $font-family-young-serif !important;
  position: absolute;
  top:30px;
  right:30px;
  font-weight: 400;
  cursor: pointer;
  z-index: 100000;
  padding: 30px;
}

.hide-info-btn {
  width:100%;
  height:250px;
  position:absolute;
  top:0;
  background-color: transparent;
  z-index:9999;
}