$main-width: 1210px;

.theme-div .marquee {
  display:block;
  position:relative;
  width:1900px;
  overflow: hidden;
  .mq1 {
    display:inline-block;
    width:$main-width;
  }
  .mq2 {
    display:inline-block;
    position:absolute;
    left: $main-width;
    overflow: visible;
    text-align: left;
    & .one-image-wrapper {
      overflow: visible;
      display:inline-block;
      position: relative;
      img {
        min-width: 200px;
        z-index: 10000;
        margin-top: -10px;
        margin-right: 15px;
      }
      .theme-image-text {
        overflow: visible;
        position:absolute;
        right: 50px;
        bottom: -35px;
        z-index:65466;
        font-family: $font-family-open-sans;
        font-size: 20px;
      }
    }
  }
}

.theme-title {
  width: $main-width;
}

.theme-div {
  overflow:hidden;
  position:relative;
  width:$main-width;
  &:not(.active):hover .marquee {
    animation: scroll_one_time 4s linear infinite;
  }
}

/* Make it move */
@keyframes scroll_one_time{
  0% {left:0;}
  100% {left:-600px;}
}
@keyframes scroll{
  0% {left:950px;}
  100% {left:0px;}
}
@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes marquee2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}