.navbar-wrapper {
  margin-top: 60px;
  font-size: 20px;
  text-align: left;
  background-color: transparent;
  z-index: 998 !important;
  .navbar {
    padding:0;
    background-color: transparent;

    a:nth-child(2) {
      margin-bottom: 40px;
    }
  }
  nav a {
    text-decoration: none;
    z-index: 999 !important;
    cursor: pointer;
    display:block ;
    padding-left:60px;
    width:100%;
    color: #000;
    font-size: 20px;
    line-height: 22px;
    font-family: $font-family-open-sans;
    &.special {
      height: 60px;
      font-size: 20px;
      line-height: 22px;
      padding: 6px 0;
      padding-left: 60px;
      width: 351px;
    }
    &.active-select {
      //text-decoration: underline;
    transition:margin-left .25s;
      margin-left: -30px;
    }
    &:not(.special):not(.sort-btn)  {
      font-size: 20px;
      margin-bottom: 13px;
      height:25px;
    }
    &.special.active {
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
    }
    &:not(.special):not(.sort-btn):hover {
      //HOVER
    }
  }
  .sort-btn {
    padding: 0;
    padding-left: 60px;
  }
}


