.navbar-wrapper {
  .navlink {
    cursor: pointer;
    width:200px;
    line-height: .65cm;
    &:last-child {
      line-height: .7cm;
    }
    &:hover {
      color: $primary-color;
    }
    &.active {
      color:$primary-color;
    }
  }
}