// **** PLAYER STYLES *** //

.player-test {
  .all-audios {
    z-index: 10;
    .bars-row .bars-col {
      border-right: 10px;
    }
    .names-table {
      width: 100%;
      display: table;
      .names-row {
        display: table-row;
        width: 100%;
      }
      .bars-row {
        display: table-row;
        .bars-col {
          margin-top: -10px;
          display: table-cell;
          span {
            display:block;
            background-color: black;
            height: 1px !important;
            width: calc(100% - 15px);
          }
        }
      }
      .names-col.filled {
        display: table-cell;
        font-family: $font-family-open-sans;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}

.player-wrapper {
  min-height: 50px;
  width: 100%;
  .btn {
    vertical-align: top;
    height:40px;
    width:40px;
    top: 90px;
  }
  .btn,
  .time-manager,
  #volume{
    transition: top 1s;
  }
  .playBtn {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAVCAYAAAB/sn/zAAAACXBIWXMAAAsSAAALEgHS3X78AAAAiklEQVQoFZXT0Q2AIAxAwacL6CiO4AiOwAiM4giO5ChugGkCxtRSoQkf6IWUtgCcwJxSwlsSqQUXKOuwgIYRuDxc4AoE7+QH5k3B0YUKBxfmj7vGJsw/DpWWDV9YqrGM/MckzaieqPM0oXXzD6zVUhd8q3Xn3cLF63f3UPzOZNfgNj2FISPJrx7ADc/af9mC3acYAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    position: absolute;
    left:0px;
  }
  .pauseBtn {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAVCAYAAACKTPRDAAAACXBIWXMAAAsSAAALEgHS3X78AAAASElEQVQokWNgYGBY8P//fwZkzMDAsIGBgcEAxADxCtAkD4AUMDFAgAADJhCASWIFI15yUEt+wKXgAihicSUTFAmopMD///8ZAOlQNEX/3978AAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    position: absolute;
    left:0px;
    display: none;
  }
  .volumeBtn {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAVCAYAAAAnzezqAAAACXBIWXMAAAsSAAALEgHS3X78AAABNUlEQVRIie2W4U3DMBCF30MZIBuQDegGZAOyQTsCIzACI5QNGCFsABukG7DBQ6deKlHbiR1X4g+f5CjyXXwvOefOlIRSSLYARkm74oevuAtmVpiDA3hY9kxDciT5bA7FAgAca4I7jwDaYgEkLfhTYKggW4AH3wN4A/AROEQguSM5kexD65mG5AHAIbD8pvXP/gXAcvceeMQZANxHLbMAAJ3nZI0TgF7SN8kV13wuKZDE1HCXyYKnViY5eJqKaG72KufUbP8Cf8W/gFsKsA2Y3KQpSgR03geiSDpKGmK2JS4CSCo13MUKyuvCWptovLPlYK13X1iExtXf084DucMX1DxynvMy3l7N2eXF7ks34eD9IBurnksVtEiAL9SXiohwmv+YmiPZpyRrZFVsEuAiOklTVXQAP2fPsOuRyoDPAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    position: absolute;
    left:150px;
  }
  .volumeBtn.mute {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAVCAYAAAC6wOViAAAACXBIWXMAAAsSAAALEgHS3X78AAABU0lEQVRIib2W4VHDMAyF3+P6n47iETpCNqBMQJmgZQOYoLABI3SEjsAI7QSPU1CoqZy72BB058tZjvxJsqWEktAiJHcADpIOteY3QTNBSK4BbJu8bYE6cB8W5oKS7H4LrIKSTABeAZwBPIYXKmThmz1PMEn+XAFYFpyyi3WU9B4sL0537ni/iSaOld/2waafu+7kuvWgy9ZStp7yDXbXL2dGFoWyeQmaSuCSfhHy0CiSjiTNGavbPUnb6OjzWwD3kvrUNtXpmBjYs3D2Wx6Afw7FBbzxqQHfcuAs0KtqsIjvvKHMA3Xgd0rzVOfg2o6UgnIEaCm9PuMcXFOnJy+BUsmEchkpm2Ql8wHgKbgexbrQg0ezCatf51jsSFk5dT281AzGhkWRRfwj0ppR1RzsnLzo/+/TNoABvISFCmlqg5I2JMOXZqo0/yP1xuRSkp3vdAHwCWKCKPpXCVPHAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
  }
  .volume {
    position:absolute;
    top:90px;
    left: 200px;
  }
  .track {
    display:none;
  }

  .time-manager {
    .timer, .duration {
      width: 50px;
    }
    .duration {
      padding-left: 5px;
    }
    display:inline-block;
    position: absolute;
    left:30px;
    top: 79px;
    &, & span {
      font-family: $font-family-open-sans;
      font-size: 20px;
      padding:0;
      margin: 0;
      display:inline-block;
    }
  }
  .progress {
    position: absolute;
    top: 47.5px;
    left: 5px;
    width: 0%;
    height: 4px;
    background-color: rgba(0, 0, 0, 1);
    z-index: 1000000;
    transition: top .4s;
  }
}

// PLAYER CHRINKED
.player-chrinked + .media-content.enabled{
  .player-wrapper {
    .btn {
      top: 15px;
    }
    .time-manager {
      top: 3px;
    }
    #volume {
      top: -3px;
    }
  }
  .progress {
    top:40px;
  }
}


/* Volume */
#volume {
  overflow-y: visible !important;
  z-index: 9999;
  width: 100px;
  height: auto;
  position: absolute;
  top: 72px;
  left: 190px;
  touch-action: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

