.theme-slick {
  margin-left:25px;
  width:725px;
  overflow-y: initial;
  figure {
    font-size: 16px;
    line-height: .5cm;
    width:95%;
    margin:0 auto;
    position:relative;
    img {

    }
    figcaption {
      position:absolute;
      z-index:999;
      bottom:0;
      box-sizing: border-box;
      padding:6px 4px 6px;
      background-color: #555;
      color:#fff;
      opacity: .8;
    }
  }
  .slick-prev:before, .slick-next:before {
    color:#aaa !important;
  }


}