// Typography
// -------

@import url('https://fonts.googleapis.com/css?family=Prompt:300');

@font-face {
  font-family: 'YoungSerifRegular';
  src: url('../../assets/fonts/YoungSerif/YoungSerif-Regular.eot'),
  url('../../assets/fonts/YoungSerif/YoungSerif-Regular.woff') format('woff'),
  url('../../assets/fonts/YoungSerif/YoungSerif-Regular.ttf') format('truetype'),
  url('../../assets/fonts/YoungSerif/YoungSerif-Regular.svg#youngserifregular') format('svg');
  font-weight: normal;
  font-style: normal;
}