/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

$primary-color: #5bbeac; // Primary color for buttons and links
$primary-hover-color: #5bbeac;
$font-color: #000 ; // Default font color

$scrollbar-bg-color: #F5F5F5;
$playerbar-bg-color: #EEE;

$icon-color: #444;

// Notices
// -------

$notice-color-info:         #3d88ce !default;
$notice-color-success:      #81ad22 !default;
$notice-color-warning:      #c6a121 !default;
$notice-color-danger:       #be2c2c !default;

// THEMES
// ---------

$margin-btm-theme: 95px;
$margin-btm-theme-active: 25px;


// CONTENTS
$top-distance: 100px;
$top-distance-on-header-off: 4vh;
$margin-lr-wrapper: 50px;

$header-height: 150px;
$content-wrapper-height: 95vh;
$content-wrapper-height-on-header-off: 95vh;
$playerbar-height: 4px;

$margin-right-player-time: 10px;
$br: 12px;


// WIDTHS

$player-width: 750px;
$theme-title-width: 850px;
$scroll-bar-width: 8px;
$content-wrapper-width:81%;
$navbar-wrapper-width:18%;

// FONT_SIZE
$font-size-small: .5em;
$font-size-medium: .75em;
$font-size-large: 1em;
$icon-font-size: .75em;
$player-time-size: .75em;

$font-size-all: 20px;
$font-size-fragen: 65px;

$font-family-young-serif: 'YoungSerifRegular';

$effect-speed: 1s;


// RESPONSIVE

$phone-device-max-width: 480px;
$phone-device-max-height: 540px;

$tablet-device-max-width: 1024px;
$tablet-device-max-height: 800px;